<div>
    <img src="https://schoolmanagementschoolblog.files.wordpress.com/2020/02/modules-of-the-school-management-system.jpg" alt=""
      style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
  
      <div class="project-highlights">
        <h2>Project Highlights</h2>
    
        <div class="highlight">
            <h3>Modular Architecture</h3>
            <p>Our School Management Project is divided into two distinct modules: Admin and Student, each with its own routing system, ensuring a seamless and organized user experience.</p>
        </div>
    
        <div class="highlight">
            <h3>Robust Authentication and Authorization</h3>
            <p>To safeguard your data and maintain security, we've implemented JWT (JSON Web Token) authentication and authorization. This ensures that only authorized users can access the various APIs.</p>
        </div>
    
        <h2>Admin Functions</h2>
        <div class="highlight">
            <h3>Admin Login and Token Generation</h3>
            <p>Admin can securely log in to the system and generate access tokens.</p>
        </div>
        
        <div class="highlight">
            <h3>Student Management</h3>
            <p>Admin can perform CRUD operations for students, making it easy to manage student records.</p>
        </div>
        <div class="highlight">
            <h3>Fee Management</h3>
            <p>Admin can conveniently process student fee payments within the system.</p>
        </div>
        <div class="highlight">
            <h3>Teacher Management</h3>
            <p>Admin have full control over teacher information, including adding, updating, and deleting teacher profiles.</p>
        </div>
        <div class="highlight">
            <h3>Leave Management</h3>
            <p>Admin can view leave applications from students and approve or disapprove them, ensuring efficient leave management.</p>
        </div>
        
    
        <h2>Student Functions</h2>
        <div class="highlight">
            <h3>Student Login and Token Generation</h3>
            <p>Students can log in securely and generate access tokens.</p>
        </div>
        <div class="highlight">
            <h3>Self-Record Access</h3>
            <p>Students can access and update their own records, providing a convenient way to maintain personal information.</p>
        </div>
        <div class="highlight">
            <h3>Leave Application</h3>
            <p>Students can apply for leave, making it easier to request time off when needed.</p>
        </div>
        <div class="highlight">
            <h3>Teacher Directory</h3>
            <p>Students can view a list of teachers, facilitating communication and access to important educator information.</p>
        </div>
        
       
    </div>
    
  </div>
  
  